
@{
    ViewData["Title"] = "Remotas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <div class="row" data-aos="fade-up">
            
              <div class="col-lg-12 stretch-card grid-margin contenido">
              
            
              </div>
            </div>

   <script src="~/js/site.js" defer></script>

